<div class="box" style="width: 600px;height: 480px;margin-left: 30%;margin-bottom: 15px;margin-top: 30px;">
    <article class="media">
    
        <div class="media-content">
            <div class="content">
                
                <label class="label" style="margin-left: 20%;margin-top: 1%;float: left;">Please select friend to ivite:</label>
                <a class="button is-danger" style="float:right" onclick=" window.history.back()">Back</a>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">

                    <table class="table table-bordered table-striped mb-0" style="width: 60%;margin-top: 40px;" align="center">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First name</th>
                          <th scope="col">Last name</th>
                          <th scope="col">Invite</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td align="center">Mark</td>
                          <td align="center">Otto</td>
                          <td align="center"><input type="checkbox"></td>
                          
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td align="center">Jacob</td>
                          <td align="center">Thornton</td>
                          <td align="center"><input type="checkbox"></td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td align="center">Larry</td>
                          <td align="center">the Bird</td>
                          <td align="center"><input type="checkbox"></td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td align="center">Mark</td>
                          <td align="center">Otto</td>
                          <td align="center"><input type="checkbox"></td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td align="center">Jacob</td>
                          <td align="center">Thornton</td>
                          <td align="center"><input type="checkbox"></td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td align="center">Larry</td>
                          <td align="center">the Bird</td>
                          <td align="center"><input type="checkbox"></td>
                        </tr>
                      </tbody>
                    </table>
                  
                </div>

                
                
            </div>
            <a class="button is-primary" style="margin-left: 15%;margin-right: 190px;margin-top: 20px;" routerLink="/invitefriends">Invite friends</a>
        <a class="button is-primary" style="margin-top: 20px" routerLink="/passengerdata">Next</a>
        </div>
        
    </article>
</div>

