<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
      <div class="field">
        
          <input style="width: 30%;color: black;margin-left: 37%;" class="input" type="email" placeholder="Email">
          
      </div>
      <div class="field">
        
          <input  style="width: 30%;color: black;margin-left: 37%;" class="input" type="password" placeholder="Password">
          
        
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" routerLink="/reghome" style="margin-left: 37%;">
            Login
          </button>
        </p>
      </div>
    </div>
  </div>
</section>


