
<div class="box" style="width: 600px;height: 1000px;margin-left: 30%;margin-bottom: 15px;">
    <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="{{flight.photo}}" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <img src="/assets/img/uzlet.png" style="height: 30px;width: 30px;float: left;margin-right: 5px;">
        <label class="label" style="float: left;">{{flight.city1}}</label>
        <img src="/assets/img/slet.png" style="height: 30px;width: 30px;float: left;margin-left: 10px;">
        <label class="label" style="float: left;">{{flight.city2}}</label>
        <a class="button is-danger" style="float:right" onclick=" window.history.back()">Back</a>
        <br>
        <br>
        <label class="label" style="float:left;margin-right: 30px;">{{flight.city1short}}:{{flight.time1}}</label>
        <label class="label" style="float:left;margin-right: 30px;">{{flight.city2short}}:{{flight.time2}}</label>
        <label class="label" >Flight duration:{{flight.flighttime}}</label>
        <br>
        <label class="label" style="float:left;margin-right: 30px;">Trip type:{{flight.triptype}}</label>
        <!-- <label class="label" style="float:left;margin-right: 30px;">Number of persons:{{flightData.persons}}</label> -->
        <!-- <label class="label">class:{{flightData.class}}</label> -->
        <label class="label" style="float:left">Price:{{flight.price}}$</label>
        <br>
        
        

        <div class="plane">
          <div class="cockpit">
            <h1>Please select a seat</h1>
          </div>
          <div class="exit exit--front fuselage">
            
          </div>
          <ol class="cabin fuselage">
            <li class="row row--1" style="margin-left: 20%;">
              <ol class="seats" type="A">
                <li class="seat">
                  <input type="checkbox" id="1A" />
                  <label for="1A">1A</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="1B" />
                  <label for="1B">1B</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="1C" />
                  <label for="1C">1C</label>
                </li>
                <li class="seat">
                  <input type="checkbox" disabled id="1D" />
                  <label for="1D">Occupied</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="1E" />
                  <label for="1E">1E</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="1F" />
                  <label for="1F">1F</label>
                </li>
              </ol>
            </li>
            <li class="row row--2" style="margin-left: 20%;">
              <ol class="seats" type="A">
                <li class="seat">
                  <input type="checkbox" id="2A" />
                  <label for="2A">2A</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2B" />
                  <label for="2B">2B</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2C" />
                  <label for="2C">2C</label>
                </li>
                <li class="seat">
                  <input type="checkbox" disabled id="2D" />
                  <label for="2D">Occupied</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2E" />
                  <label for="2E">2E</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="2F" />
                  <label for="2F">2F</label>
                </li>
              </ol>
            </li>
            <li class="row row--3" style="margin-left: 20%;">
              <ol class="seats" type="A">
                <li class="seat">
                  <input type="checkbox" id="3A" />
                  <label for="3A">3A</label>
                </li>
                <li class="seat">
                  <input type="checkbox" disabled id="3B" />
                  <label for="3B">Occupied</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="3C" />
                  <label for="3C">3C</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="3D" />
                  <label for="3D">3D</label>
                </li>
                <li class="seat">
                  <input type="checkbox" disabled id="3E" />
                  <label for="3E">Occupied</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="3F" />
                  <label for="3F">3F</label>
                </li>
              </ol>
            </li>
            <li class="row row--4" style="margin-left: 20%;">
              <ol class="seats" type="A">
                <li class="seat">
                  <input type="checkbox" id="4A" />
                  <label for="4A">4A</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4B" />
                  <label for="4B">4B</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4C" />
                  <label for="4C">4C</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4D" />
                  <label for="4D">4D</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4E" />
                  <label for="4E">4E</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="4F" />
                  <label for="4F">4F</label>
                </li>
              </ol>
            </li>
            <li class="row row--5" style="margin-left: 20%;">
              <ol class="seats" type="A">
                <li class="seat">
                  <input type="checkbox" id="5A" />
                  <label for="5A">5A</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="5B" />
                  <label for="5B">5B</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="5C" />
                  <label for="5C">5C</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="5D" />
                  <label for="5D">5D</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="5E" />
                  <label for="5E">5E</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="5F" />
                  <label for="5F">5F</label>
                </li>
              </ol>
            </li>
            <li class="row row--6" style="margin-left: 20%;">
              <ol class="seats" type="A">
                <li class="seat">
                  <input type="checkbox" id="6A" />
                  <label for="6A">6A</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="6B" />
                  <label for="6B">6B</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="6C" />
                  <label for="6C">6C</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="6D" />
                  <label for="6D">6D</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="6E" />
                  <label for="6E">6E</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id="6F" />
                  <label for="6F">6F</label>
                </li>
              </ol>
            </li>
            
            
          </ol>
          <div class="exit exit--back fuselage">
            
          </div>
        </div>


        
      
      </div>
      
      <a class="button is-primary" style="margin-left: 30px;margin-right: 200px;" routerLink="/invitefriends">Invite friends</a>
      <a class="button is-primary" routerLink="/passengerdata">Next</a>
     </div>
     
    </article>
</div>
