<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/reghome" >
        <img src="/assets/img/ns.jpg" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/rentflight">
          Search flights
         </a>
   
         <a class="navbar-item">
           Hotels
         </a>
 
         <a class="navbar-item" routerLink="/carcompanies">
           Rent a car
         </a>
 
         <a class="navbar-item" routerLink="/friends" >
             Friends
         </a>
 
         <a class="navbar-item" routerLink="/myreservations">
             My Reservations
         </a>
         
         <a class="navbar-item" routerLink="/companies" >
           AvioCompanies
       </a>
  
        
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
           
            <a class="button is-primary" routerLink="/profile">
              Profile
            </a>
          </div>
        </div>
      </div>
  
      
    </div>
  </nav>

  <div class="box" style="width: 750px;height: 480px;margin-left: 30%;margin-bottom: 15px;margin-top: 30px;">
    <article class="media">
    
        <div class="media-content">
            <div class="content">
                
                <label class="label" style="margin-left: 0%;margin-top: 1%;float: left;">Your latest reservations:</label>
                
                <div class="table-wrapper-scroll-y my-custom-scrollbar">

                    <table class="table table-bordered table-striped mb-0" style="width: 60%;margin-top: 40px;" align="center">
                      <thead>
                        <tr>
                          <th scope="col">Company</th>
                          <th scope="col">Dep. city</th>
                          <th scope="col">Lan. city</th>
                          <th scope="col">Dep. time</th>
                          <th scope="col">Lan. time</th>
                          <th scope="col">Num. of persons</th>
                          <th scope="col">Price</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"> <img src="./assets/img/wizz.png" alt="Image"></th>
                          <td align="center">Rome</td>
                          <td align="center">Paris</td>
                          <td align="center">10.10</td>
                          <td align="center">11.05</td>
                          <td align="center">4</td>
                          <td align="center">400$</td>
                          <td align="center"><a class="button is-danger">Cancel</a></td>
                         
                          
                        </tr>
                        <tr>
                            <th scope="row"> <img src="./assets/img/america.png" alt="Image"></th>
                            <td align="center">Belgrade</td>
                            <td align="center">Barcelona</td>
                            <td align="center">13.10</td>
                            <td align="center">14.30</td>
                            <td align="center">3</td>
                            <td align="center">270$</td>
                            <td align="center"><a class="button is-danger">Cancel</a></td>
                        </tr>
                        <tr>
                          
                        </tr>
                        <tr>
                         
                        </tr>
                        <tr>
                          
                        </tr>
                        <tr>
                         
                        </tr>
                      </tbody>
                    </table>
                  
                </div>

                
                
            </div>
            
        </div>
        
    </article>
</div>