<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" >
        <img src="/assets/img/ns.jpg" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/rentflight">
         Search Flights
        </a>
  
        <a class="navbar-item">
          Hotels
        </a>

        <a class="navbar-item" routerLink="/carcompanies">
          Rent a car
        </a>

        <a class="navbar-item" routerLink="/friends" >
            Friends
        </a>

        <a class="navbar-item" routerLink="/myreservations">
            My Reservations
        </a>

        <a class="navbar-item" routerLink="/companies" >
            AvioCompanies
        </a>
  
        
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
           
            <a class="button is-primary" routerLink="/profile">
              Profile
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </nav>

  <div class="box" style="width: 750px;height: 480px;margin-left: 30%;margin-bottom: 15px;margin-top: 30px;">
    <article class="media">
    
        <div class="media-content">
            <div class="content">
                
                <label class="label" style="margin-left: 0%;margin-top: 1%;float: left;">Flights and rent-a-car history:</label>
                
                <div class="table-wrapper-scroll-y my-custom-scrollbar">

                    <table class="table table-bordered table-striped mb-0" style="width: 60%;margin-top: 40px;" align="center">
                      <thead>
                        <tr>
                          <th scope="col">Company</th>
                          <th scope="col">Dep. city</th>
                          <th scope="col">Lan. city</th>
                          <th scope="col">Date</th>
                          <th scope="col">Service</th>
                      
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"> <img src="./assets/img/wizz.png" alt="Image"></th>
                          <td align="center">Rome</td>
                          <td align="center">Paris</td>
                          <td align="center">22.04.2019.</td>
                          <th scope="row"> <img src="./assets/img/plane.png" alt="Image"></th>
                         
                         
                          
                        </tr>
                        <tr>
                            <th scope="row"> <img src="./assets/img/Premier.jpg" alt="Image"></th>
                            <td align="center">Belgrade</td>
                            <td align="center">Barcelona</td>
                            <td align="center">29.04.2019.</td>
                            <th scope="row"> <img src="./assets/img/car.png" alt="Image"></th>
                            
                        </tr>
                            <th scope="row"> <img src="./assets/img/luft.png" alt="Image"></th>
                            <td align="center">New York</td>
                            <td align="center">Canbera</td>
                            <td align="center">29.04.2016.</td>
                            <th scope="row"> <img src="./assets/img/plane.png" alt="Image"></th>
                        <tr>
                          
                        </tr>
                        <tr>
                         
                        </tr>
                        <tr>
                          
                        </tr>
                        <tr>
                         
                        </tr>
                      </tbody>
                    </table>
                  
                </div>

                
                
            </div>
            
        </div>
        
    </article>
</div>